@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ISYttDfA.woff) format('woff');
}

body {
    font-family: 'Raleway';
    margin: 0px;
}

.home {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    height: 100vh;
    padding: 0px 30px;
}

.image-rocket {
    width: 400px;
}

.image-answer {
    width: 100px;
}

.button-init-quiz {
    background-color: #4f92e0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 60%;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10%;
}

.button-init-quiz:hover {
    cursor: pointer;
    background-color: #335e90;
    transition: all 0.2s ease-in;
}

.question {
    height: 100vh;
}

.header-question {
    background-color: #1e4ca4;
    color: white;
    padding: 25px;
    font-weight: bold;
    text-align: center;
}

.title-question {
    color: #1e4ca4;
    border-bottom: 1px solid #1e4ca4;
    padding: 0px 15px 10px 15px;
}

.answers {    
    padding: 0px 15px;
    display: inline-grid;
}

.answer {
    border: 1px solid #eaeaea;
    display: inline-table;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.answer:hover {
    opacity: 0.5;
    cursor: pointer;
}
.answer:active {
    border: 1px solid green;
}

@media (max-width: 768px) {
    .home {
        display: table-cell;
    }
    .button-init-quiz {
        width: 90%;
    }
    .image-rocket {
        width: 100%;
    }
    .image-medal {
        width: 70%;
        margin-top: 40px;
    }
}

.results {
    display: none;
    padding: 45px;
    text-align: center;
}

.social {
    display: inline-block;
    margin: 10px;
}
.social img {
    width: 25px;
    margin: 15px;
}

.message-result {
    font-size: 12px;
}

#score, .time {
    display: block;
    font-size: 20px;
    font-weight: 900;
    color: #628cc1;
    margin-top: 10px;
}

.cancel-quiz-result {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 15px;
}

/** Questions */
#question1, #question2, #question3 {
    display: none;
}